@font-face {
    font-family: "Noto Sans Caucasian Albanian";
    src: url("./Noto_Sans_Caucasian_Albanian/NotoSansCaucasianAlbanian-Regular.ttf")
        format("truetype");
    font-display: swap;
}

:root {
    --gold: oklch(88.68% 0.182 95.33);
    --silver: oklch(80.78% 0 0);
    --bronze: oklch(66.61% 0.132 61.29);

    @media (prefers-color-scheme: light) {
        --text: oklch(15.61% 0.049 18.32);
        --background: oklch(96.31% 0.015 17.42);
        --primary: oklch(62.61% 0.257 29.23);
        --secondary: oklch(62.06% 0.252 27.85);
        --accent: oklch(77.45% 0.126 66.99);
    }

    @media (prefers-color-scheme: dark) {
        --text: oklch(93.67% 0.028 12.12);
        --background: oklch(12.52% 0.037 24.12);
        --primary: oklch(62.8% 0.258 29.23);
        --secondary: oklch(62.01% 0.252 27.99);
        --accent: oklch(56.68% 0.124 61.83);
    }

    accent-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Noto Sans Caucasian Albanian";
}

html {
    font-size: 100%; /* 16px */
    min-height: 100dvh;
}

body {
    font-family: "Noto Sans Caucasian Albanian";
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    font-family: system-ui;
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0;
    min-height: 100dvh;
}

header {
    padding: 0.5rem 1rem;
    text-align: center;

    h1 {
        margin: 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: min-content;
    margin: 0 auto;
}

img {
    height: 1.5em;
    border-radius: 0.5rem;
}

.podium {
    display: flex;
    gap: 1rem;
    align-items: flex-end;

    h2 {
        margin-top: 0.25rem;
    }

    #first,
    #second,
    #third {
        text-align: center;
        position: relative;

        h2 span {
            cursor: copy;
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        #xp {
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            width: fit-content;
            text-align: center;
            background-color: var(--background);
            padding: 0.5rem;
            border-radius: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.25s,
                visibility 0.25s;
        }

        &:hover #xp {
            opacity: 1;
            visibility: visible;
        }

        &::before {
            font-size: 1.5rem;
            font-weight: bolder;
            color: var(--accent);
        }

        &::after {
            content: "";
            display: block;
            border-radius: 0.25rem;
        }
    }

    #first {
        &::before {
            content: "#1";
        }

        &::after {
            height: 4rem;
            background-image: linear-gradient(
                to top,
                var(--gold),
                oklch(0 0 0 / 0%)
            );
        }
    }

    #second {
        &::before {
            content: "#2";
        }

        &::after {
            height: 2rem;
            background-image: linear-gradient(
                to top,
                var(--silver),
                oklch(0 0 0 / 0%)
            );
        }
    }

    #third {
        &::before {
            content: "#3";
        }

        &::after {
            height: 1rem;
            background-image: linear-gradient(
                to top,
                var(--bronze),
                oklch(0 0 0 / 0%)
            );
        }
    }
}

/* Listings */
.listings {
    width: 100%;

    .user {
        background-color: oklch(from var(--accent) l c h / 50%);
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
        padding: 0 1rem;
        margin: 0.5rem 0;
        border-radius: 0.5rem;
        transition: background-color 0.25s;

        &:hover {
            background-color: var(--accent);
        }
    }

    .name {
        display: flex;
        gap: 0.5rem;
        font-size: 1.125rem;
        align-items: center;
        width: min-content;

        &:hover {
            cursor: copy;
        }
    }

    label {
        position: relative;

        span {
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translateX(-50%);
            width: fit-content;
            text-align: center;
            background-color: var(--background);
            padding: 0.5rem;
            border-radius: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.25s,
                visibility 0.25s;
        }

        &:hover span {
            opacity: 1;
            visibility: visible;
        }
    }
}
