@font-face {
    font-family: "Noto Sans Caucasian Albanian";
    src: url("/Noto_Sans_Caucasian_Albanian/NotoSansCaucasianAlbanian-Regular.ttf")
        format("truetype");
    font-display: swap;
}

:root {
    --text: oklch(93.67% 0.028 12.12);
    --background: oklch(12.52% 0.037 24.12);
    --primary: oklch(62.8% 0.258 29.23);
    --secondary: oklch(62.01% 0.252 27.99);
    --accent: oklch(56.68% 0.124 61.83);
    accent-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
body {
    font-family:
        "Noto Sans Caucasian Albanian",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

body {
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}
