header {
    ul {
        /* Horziontal list */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        margin: 0;
        padding: 0;

        li {
            /* Remove list bullets */
            list-style-type: none;

            a {
                text-decoration: none;
                position: relative;
                transition: color 0.25s ease-in-out;

                p {
                    color: var(--text);
                    font-size: 1.75rem;
                    font-weight: bold;
                    margin: 0.7rem 0;
                }

                &:hover {
                    color: var(--accent);
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                    background-color: var(--accent);
                    transition: width 0.25s ease-in-out;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        ul {
            li.active {
                display: none;
            }
        }
    }
}
