:root {
    --gold: oklch(88.68% 0.182 95.33);
    --silver: oklch(80.78% 0 0);
    --bronze: oklch(66.61% 0.132 61.29);
}

html {
    font-size: 100%; /* 16px */
}

html,
body {
    min-height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    padding: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 88dvw;
    max-width: 64rem;
    margin: 0 auto;
}

img {
    height: 1.5em;
    border-radius: 0.5rem;
}

.podium {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
    width: 84dvw;
    max-width: 48rem;

    h2 {
        margin-top: 0.25rem;
    }

    #first,
    #second,
    #third {
        text-align: center;
        position: relative;
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);

        h2 {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;

            span {
                cursor: copy;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        #xp {
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            width: fit-content;
            text-align: center;
            background-color: var(--background);
            padding: 0.5rem;
            border-radius: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.25s, visibility 0.25s;
        }

        &:hover #xp {
            opacity: 1;
            visibility: visible;
        }

        &::before {
            font-size: 1.5rem;
            font-weight: bolder;
            color: var(--accent);
        }

        &::after {
            content: "";
            display: block;
            border-radius: 0.25rem;
        }
    }

    #first {
        &::before {
            content: "#1";
        }

        &::after {
            height: 4rem;
            background-image: linear-gradient(to top, var(--gold), oklch(0 0 0 / 0%));
        }
    }

    #second {
        &::before {
            content: "#2";
        }

        &::after {
            height: 2rem;
            background-image: linear-gradient(to top, var(--silver), oklch(0 0 0 / 0%));
        }
    }

    #third {
        &::before {
            content: "#3";
        }

        &::after {
            height: 1rem;
            background-image: linear-gradient(to top, var(--bronze), oklch(0 0 0 / 0%));
        }
    }
}

/* Shake animation */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Shake effect and red border on invalid input */
.shake {
    animation: shake 0.3s cubic-bezier(0.15, 0.25, 0.35, 0.75) forwards;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;
}

#showme {
    height: 100%;
    aspect-ratio: 1;

    background-color: var(--accent);
    color: var(--text);
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: filter 0.25s;

    &:hover {
        filter: brightness(125%);
    }
}

/* nameorid */
#nameorid {
    /* Remove default browser styles */
    border: none;
    outline: none;

    padding: 0.5rem;
    border-radius: 0.5rem;

    background-color: oklch(from var(--accent) l c h / 50%);
    color: var(--text);
    font-size: 1.125rem;

    /* change placeholder color (65% of text color) */
    &::placeholder {
        color: oklch(from var(--text) l c h / 65%);
    }

    transition: background-color 0.3s ease;
}

.rank-dialog {
    --scale: 0.5;
    width: calc(1200px * var(--scale));
    height: calc(300px * var(--scale));
    padding: 0;
    border: none;

    & > iframe {
        border: none;
        overflow: hidden;
        transform: scale(var(--scale));
        transform-origin: left top;
    }

    overflow: hidden;

    &::backdrop {
        background-image: linear-gradient(225deg, #e82e7c, #e8be2b, #2d91ee);
        opacity: 0.15;
    }
}

/* Listings */
.listings {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .user {
        background-color: oklch(from var(--accent) l c h / 50%);
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
        padding: 0 1rem;
        border-radius: 0.5rem;
        transition: background-color 0.25s;

        &:hover {
            background-color: var(--accent);
        }
    }

    .name {
        display: flex;
        gap: 0.5rem;
        font-size: 1.125rem;
        align-items: center;
        max-width: min-content;
        min-width: calc(100% / 3);

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: copy;
        }
    }

    label {
        position: relative;

        p {
            margin: 0.25rem 0;
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;
        }

        .xp-popup {
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translateX(-50%);
            width: fit-content;
            text-align: center;
            background-color: var(--background);
            padding: 0.5rem;
            border-radius: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.25s, visibility 0.25s;
        }

        &:hover span {
            opacity: 1;
            visibility: visible;
        }
    }

    &:first-child {
        margin-top: 0;
    }
}

#toast {
    position: sticky;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--accent);
    color: var(--text);
    transition: opacity 0.25s, visibility 0.25s;
    opacity: 0;
    visibility: hidden;
}

/* Mobile layout */
@media (max-width: 650px) {
    body {
        padding: 0.25rem;
    }

    main {
        margin: 0;
        padding: 0 0.5rem;
        width: 100%;
        box-sizing: border-box;
    }

    /* Make the rank card smaller */
    .rank-dialog {
        --scale: calc(1 / 3);
    }

    /* Make the top 3 vertical instead of horizontal */
    .podium {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        & > div {
            width: 100%;
            min-width: 100% !important;
            max-width: 100% !important;

            text-align: left !important;

            & > h2 {
                justify-content: flex-start !important;
                margin-right: auto !important;
            }

            &::after {
                background-image: none !important;
                height: 0 !important;
            }
        }
    }

    #first {
        order: 1;
        &::before {
            color: var(--gold) !important;
        }
    }
    #second {
        order: 2;
        &::before {
            color: var(--silver) !important;
        }
    }

    #third {
        order: 3;
        &::before {
            color: var(--bronze) !important;
        }
    }
}
