:root {
    --gold: oklch(88.68% 0.182 95.33);
    --silver: oklch(80.78% 0 0);
    --bronze: oklch(66.61% 0.132 61.29);
}

html {
    font-size: 100%; /* 16px */
    min-height: 100dvh;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0;
    min-height: 100dvh;
}

header {
    padding: 0.5rem 1rem;
    text-align: center;

    h1 {
        margin: 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 88dvw;
    max-width: 64rem;
    margin: 0 auto;
}

img {
    height: 1.5em;
    border-radius: 0.5rem;
}

.podium {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
    width: 84dvw;
    max-width: 48rem;

    h2 {
        margin-top: 0.25rem;
    }

    #first,
    #second,
    #third {
        text-align: center;
        position: relative;
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);

        h2 {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;

            span {
                cursor: copy;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        #xp {
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            width: fit-content;
            text-align: center;
            background-color: var(--background);
            padding: 0.5rem;
            border-radius: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.25s,
                visibility 0.25s;
        }

        &:hover #xp {
            opacity: 1;
            visibility: visible;
        }

        &::before {
            font-size: 1.5rem;
            font-weight: bolder;
            color: var(--accent);
        }

        &::after {
            content: "";
            display: block;
            border-radius: 0.25rem;
        }
    }

    #first {
        &::before {
            content: "#1";
        }

        &::after {
            height: 4rem;
            background-image: linear-gradient(
                to top,
                var(--gold),
                oklch(0 0 0 / 0%)
            );
        }
    }

    #second {
        &::before {
            content: "#2";
        }

        &::after {
            height: 2rem;
            background-image: linear-gradient(
                to top,
                var(--silver),
                oklch(0 0 0 / 0%)
            );
        }
    }

    #third {
        &::before {
            content: "#3";
        }

        &::after {
            height: 1rem;
            background-image: linear-gradient(
                to top,
                var(--bronze),
                oklch(0 0 0 / 0%)
            );
        }
    }
}

/* Listings */
.listings {
    width: 100%;

    .user {
        background-color: oklch(from var(--accent) l c h / 50%);
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
        padding: 0 1rem;
        margin: 0.5rem 0;
        border-radius: 0.5rem;
        transition: background-color 0.25s;

        &:hover {
            background-color: var(--accent);
        }
    }

    .name {
        display: flex;
        gap: 0.5rem;
        font-size: 1.125rem;
        align-items: center;
        max-width: min-content;
        min-width: calc(100% / 3);

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: copy;
        }
    }

    label {
        position: relative;

        p {
            margin: 0.25rem 0;
            display: flex;
            justify-content: space-between;
        }

        .xp-popup {
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translateX(-50%);
            width: fit-content;
            text-align: center;
            background-color: var(--background);
            padding: 0.5rem;
            border-radius: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.25s,
                visibility 0.25s;
        }

        &:hover span {
            opacity: 1;
            visibility: visible;
        }
    }
}

#toast {
    position: sticky;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--accent);
    color: var(--text);
    transition:
        opacity 0.25s,
        visibility 0.25s;
    opacity: 0;
    visibility: hidden;
}
