:root {
    --gold: oklch(88.68% 0.182 95.33);
    --silver: oklch(80.78% 0 0);
    --bronze: oklch(66.61% 0.132 61.29);
}

html {
    font-size: 100%; /* 16px */
}

html,
body {
    min-height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    padding: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 88dvw;
    max-width: 64rem;
    margin: 0 auto;
}

img {
    height: 1.5em;
    border-radius: 0.5rem;
}

.podium {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
    width: 84dvw;
    max-width: 48rem;
    margin-bottom: 8px;

    h2 {
        margin-top: 0.25rem;
    }

    #first,
    #second,
    #third {
        text-align: center;
        position: relative;
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);

        h2 {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;

            span {
                cursor: copy;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        #xp {
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            width: fit-content;
            text-align: center;
            background-color: var(--background);
            padding: 0.5rem;
            border-radius: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.25s, visibility 0.25s;
        }

        &:hover #xp {
            opacity: 1;
            visibility: visible;
        }

        &::before {
            font-size: 1.5rem;
            font-weight: bolder;
            color: var(--accent);
        }

        &::after {
            content: "";
            display: block;
            border-radius: 0.25rem;
        }
    }

    #first {
        &::before {
            content: "#1";
        }

        &::after {
            height: 4rem;
            background-image: linear-gradient(to top, var(--gold), oklch(0 0 0 / 0%));
        }
    }

    #second {
        &::before {
            content: "#2";
        }

        &::after {
            height: 2rem;
            background-image: linear-gradient(to top, var(--silver), oklch(0 0 0 / 0%));
        }
    }

    #third {
        &::before {
            content: "#3";
        }

        &::after {
            height: 1rem;
            background-image: linear-gradient(to top, var(--bronze), oklch(0 0 0 / 0%));
        }
    }
}

/* Shake animation */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Shake effect and red border on invalid input */
.shake {
    animation: shake 0.3s cubic-bezier(0.15, 0.25, 0.35, 0.75) forwards;
}

/* nameorid */
#nameorid {
    /* Remove default browser styles */
    border: none;
    outline: none;
    margin-left: auto;

    padding: 0.5rem;
    border-radius: 0.5rem;

    background-color: oklch(from var(--accent) l c h / 50%);
    color: var(--text);
    font-size: 1.125rem;

    /* change placeholder color (65% of text color) */
    &::placeholder {
        color: oklch(from var(--text) l c h / 65%);
    }

    transition: background-color 0.3s ease;
}

.rank-dialog {
    width: 1200px;
    height: 300px;

    margin: 0;
    padding: 0;
    border: none;

    & > iframe {
        border: none;
        overflow: hidden;
    }

    transform: scale(0.5) translate(-50%, -50%);

    overflow: hidden;
}

/* Listings */
.listings {
    width: 100%;

    .user {
        background-color: oklch(from var(--accent) l c h / 50%);
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
        padding: 0 1rem;
        margin: 0.5rem 0;
        border-radius: 0.5rem;
        transition: background-color 0.25s;

        &:hover {
            background-color: var(--accent);
        }
    }

    .name {
        display: flex;
        gap: 0.5rem;
        font-size: 1.125rem;
        align-items: center;
        max-width: min-content;
        min-width: calc(100% / 3);

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: copy;
        }
    }

    label {
        position: relative;

        p {
            margin: 0.25rem 0;
            display: flex;
            justify-content: space-between;
        }

        .xp-popup {
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translateX(-50%);
            width: fit-content;
            text-align: center;
            background-color: var(--background);
            padding: 0.5rem;
            border-radius: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.25s, visibility 0.25s;
        }

        &:hover span {
            opacity: 1;
            visibility: visible;
        }
    }
}

#toast {
    position: sticky;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--accent);
    color: var(--text);
    transition: opacity 0.25s, visibility 0.25s;
    opacity: 0;
    visibility: hidden;
}
