html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column;
    padding: 0 1rem;
}

button {
    background-color: var(--accent);
    color: var(--text);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 0.875rem;
    margin: 0;
    cursor: pointer;
    transition: filter 0.25s;

    &:hover {
        filter: brightness(125%);
    }
}

header {
    height: 5rem;

    h1 {
        margin: 1.5rem 0 1.5rem 0;
    }
}

main {
    height: calc(100% - 5rem);

    display: flex;
    gap: 1rem;

    section {
        padding-bottom: 1rem;

        overflow-x: auto;
        overflow-y: auto;

        /* Hide scrollbar */
        scrollbar-width: none;
        ::-webkit-scrollbar{
            display: none;
        }
    }
}

.comments {
    width: 24rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 1rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    textarea {
        border: 0.125rem solid var(--primary);
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem;
        background-color: var(--bg);
        color: var(--text);
    }

    select {
        font-size: 1rem;
        border-radius: 1rem;
        padding: 0.25rem;
        background-color: oklch(from var(--accent) L C H / .8);
        border: 0.125rem solid var(--primary);
        color: var(--text);
    }

    #comments {
        div.commentInfo {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            white-space: nowrap;
            justify-content: left;
            align-items: center;
        }

        span {
            font-size: 0.8rem;
        }

        h3 {
            color: var(--primary);
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 10rem;
        }

        h3,
        span {
            margin: 0;
        }

        img {
            height: 4rem;
            width: 4rem;
            border-radius: 100%;
        }

        p {
            margin-left: 2rem;
            overflow-wrap: anywhere;
        }
        
    }
    
    #pageSelect {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        button {
            width: 2rem;
            height: 2rem;

            &:disabled,
            &[disabled] {
                filter: brightness(50%);
            }
        }

        span {
            font-weight: bold;
        }
    }
}

.packs {
    max-width: calc(100% - 24rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .pack {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        border: 0.125rem solid var(--primary);
        border-radius: 0.75rem;
    }

    .top {
        display: flex;
        gap: 1rem;
    }

    img {
        width: 8rem;
        height: 8rem;
        border-radius: 0.5rem;
    }

    h2 {
        margin: 0;
    }

    .details {
        ul {
            margin: 0;
            padding-left: 1rem;
        }

        p {
            margin: 0.25rem 0;
        }
    }

    .downloads {
        display: flex;
        gap: 0.5rem;
        align-self: stretch;
    }
}

dialog {
    width: 40%;
    height: 40%;
    border: 0.125rem solid var(--accent);
    border-radius: 1rem;

    &::backdrop {
        filter: blur(1rem);
    }

    form {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    .error {
        color: var(--secondary);
        font-weight: bold;
    }

}

#togglecomments {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--accent);
    color: var(--text);
    border-radius: 100%;

    padding: 5px;
    aspect-ratio: 1;

    img {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 1250px) {
    .packs {
        max-width: 100%;
    }

    .comments {
        display: flex;

        max-width: min(24rem, calc(100% - 4rem));

        padding: 1rem;
        padding-right: 2rem;
        background-color: var(--background);

        border: 0.125rem solid var(--primary);
        border-right: none;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;

        position: absolute;
        right: 0;
        bottom: 1rem;
        top: 5rem;

        transition: transform 0.4s ease-in-out;

        &.hidden {
            transform: translateX(120%);
        }
    }

    #togglecomments {
        display: block;
    }
}

@media (max-width: 850px) {
    section.packs {
        grid-template-columns: 1fr;
    }
}
