html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column;
    padding: 0 1rem;
}

button {
    background-color: var(--accent);
    color: var(--text);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 0.875rem;
    margin: 0;
    cursor: pointer;
    transition: filter 0.25s;

    &:hover {
        filter: brightness(125%);
    }
}

header {
    height: 5rem;

    h1 {
        margin: 1.5rem 0 1.5rem 0;
    }
}

main {
    height: calc(100% - 5rem);

    display: flex;
    gap: 1rem;

    & > section {
        padding-bottom: 1rem;

        overflow-x: auto;
        overflow-y: auto;

        /* Hide scrollbar */
        scrollbar-width: none;
        ::-webkit-scrollbar {
            display: none;
        }
    }
}

.comments {
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    position: sticky;
    top: 1rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    textarea {
        border: 0.125rem solid var(--primary);
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem;
        background-color: var(--bg);
        color: var(--text);
    }

    select {
        font-size: 1rem;
        border-radius: 1rem;
        padding: 0.25rem;
        background-color: oklch(from var(--accent) L C H / 0.8);
        border: 0.125rem solid var(--primary);
        color: var(--text);
    }

    #comments {
        overflow-y: scroll;

        div.commentInfo {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            white-space: nowrap;
            justify-content: left;
            align-items: center;

            &>div {
                max-width: calc(100% - 4rem - 0.5rem);
            }
        }

        span {
            font-size: 0.8rem;

            &::before {
                display: inline-block;
                content: "";
                width: 0.5rem;
                height: 0.5rem;
                margin: 0.075rem 0.2rem;
                background-color: var(--text);
            }
        }

        h3 {
            color: var(--primary);
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: copy;
        }

        h3,
        span {
            max-width: 100%;
            margin: 0;
        }

        img {
            height: 4rem;
            width: 4rem;
            border-radius: 100%;
        }

        p {
            margin-left: 2rem;
            overflow-wrap: anywhere;
            white-space: pre-wrap;
        }
    }

    .pageSelect {
        margin: 0.5rem 0;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        button {
            width: 2rem;
            height: 2rem;

            &:disabled,
            &[disabled] {
                filter: brightness(50%);
                cursor: not-allowed;
            }
        }

        span {
            font-weight: bold;
        }
    }
}

::view-transition-new(root),
::view-transition-old(root) {
    animation-duration: 0.5s;
}

.packs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.pack {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 0.125rem solid var(--primary);
    border-radius: 0.75rem;

    .top {
        display: flex;
        gap: 1rem;
        margin-bottom: auto;
    }

    img {
        width: 8rem;
        height: 8rem;
        border-radius: 0.5rem;
    }

    h2 {
        margin: 0;
    }

    .details {
        ul {
            margin: 0;
            padding-left: 1rem;
        }

        p {
            margin: 0.25rem 0;
        }
    }

    .downloads {
        display: flex;
        gap: 0.5rem;
        align-self: stretch;

        &:nth-child(2) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

dialog {
    width: min(40%, 500px);
    height: fit-content;
    border: 0.125rem solid var(--accent);
    border-radius: 1rem;

    padding: 1rem;

    word-wrap: break-word;

    &::backdrop {
        background-image: linear-gradient(225deg, #e82e7c, #e8be2b, #2d91ee);
        opacity: 0.25;
    }

    & > form {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .error {
        color: var(--secondary);
        font-weight: bold;
    }
}

#notifications {
    padding-bottom: 4rem;
}

#packpopout {
    margin-top: 1rem;

    width: min(36rem, calc(100% - 4rem));
    max-height: calc(100% - 4rem);

    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }

    & > form {
        position: absolute;
        top: 1rem;
        right: 1rem;

        button {
            width: 2rem;
            height: 2rem;
            padding: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .commentsbutton {
        display: none;
    }

    &[open] {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 1250px) {
    .packs {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 850px) {
    section.packs {
        grid-template-columns: 1fr;
    }
}
